

<div class="row">
    <div class="col-md-6">
      <div class="col-12">
        <h3 id="tableLabel">Festivos</h3>
      </div>
    </div>
    <div class="col-md-6 ">
        <div class="row">
            <div class="col-9 text-rigth">
                <input class="form-control background-gray" placeholder="Buscar..."/>
            </div>
            <div class="col-3">
                <a href="/cad-feriado" class="btn btn-small btn-light fa fa-plus-circle"> Nuevo</a>
            </div>
        </div>
    </div>
</div>

<p *ngIf="!holidays"><em>Cargando datos...</em></p>

<table class='table table-striped table-sm' aria-labelledby="tableLabel" *ngIf="holidays">
  <thead>
    <tr>
      <th scope="col-5">Fecha</th>
      <th scope="col-5">Descripcion</th>
      <th scope="col-2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let holiday of holidays">
      <td>{{ holiday.date }}</td>
      <td>{{ holiday.description }}</td>
      <td><a href="/cad-feriado?Ak={{holiday.idCalendar}}" class="btn btn-small btn-light "><i class="fa fa-edit"></i></a> <button (click)="deleteFeriado(holiday.description,holiday.idCalendar)" class="btn btn-small btn-light "><i class="fa fa-trash"></i></button></td>
    </tr>
  </tbody>
</table>
