<header>
  <nav
    class="nav navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 "
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Control Habitos</a>
      <button
        class="navbar-toggler text-white"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon "></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow ">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-white" [routerLink]="['/']">Festivos</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/list-cargo']">Cargos</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/list-partition']">Particiones</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/list-user']">Usuario</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/list-agencia']">Sucursal</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/list-config']">Configuraciones</a>
          </li>
          <!-- <li *ngIf="isLogin" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/loguot']">{{usernameCurrent}} Cerrar</a>
          </li>
          <li *ngIf="!isLogin" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/login']">iniciar Sesion</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
