<h1 id="tableLabel">Usuarios</h1>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-rigth">
        <div class="row">
            <div class="col-9">
                <input class="form-control background-gray" placeholder="Buscar..."/>
            </div>
            <div class="col-3">
                <a href="/cad-user" class="btn btn-small btn-light ">Nuevo</a>
            </div>
        </div>
    </div>
</div>

<p *ngIf="!users"><em>Cargando datos...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cargo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.idPost }}</td>
      <td><a href="/cad-user?Ak={{user.idUsers}}" class="btn btn-small btn-light "><i class="fa fa-edit"></i></a> <a href="/cad-agencia" class="btn btn-small btn-light "><i class="fa fa-trash"></i></a></td>

    </tr>
  </tbody>
</table>
