<h1 id="tableLabel">Cargos</h1>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-rigth">
        <div class="row">
            <div class="col-9">
                <input class="form-control background-gray" placeholder="Buscar..."/>
            </div>
            <div class="col-3">
                <a href="/cad-cargo" class="btn btn-small btn-light ">Nuevo</a>
            </div>
        </div>
    </div>
</div>

<p *ngIf="!posts"><em>Cargando datos...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="posts">
  <thead>
    <tr>
      <th scope="col-10">Cargo</th>
      <th scope="col-2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.description }}</td>
      <td><a href="/cad-cargo?Ak={{post.idPost}}" class="btn btn-small btn-light "><i class="fa fa-edit"></i></a> <a href="/cad-agencia?Ak={{post.idPost}}" class="btn btn-small btn-light "><i class="fa fa-trash"></i></a></td>
      
    </tr>
  </tbody>
</table>
